@model Admin.Models.Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

<br />
<div class="col-md-6">
    <section class="content-header">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Detalhes do Cliente</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Nome:</th>
                        <th>@Html.DisplayFor(model => model.Nome)</th>
                    </tr>

                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Cpf:</th>
                        <th>@Html.DisplayFor(model => model.Cpf)</th>
                    </tr>

                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Email:</th>
                        <th>@Html.DisplayFor(model => model.Email)</th>
                    </tr>

                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Telefone:</th>
                        <th>@Html.DisplayFor(model => model.Telefone)</th>
                    </tr>
                </table>

                <div class="box-footer">
                    <button type="submit" value="Back" class="btn btn-default">@Html.ActionLink("Voltar", "Index")</button>
                    <button type="submit" value="Create" class="btn btn-default pull-right">@Html.ActionLink("Editar", "Edit", new { id = Model.Id })</button>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>