@model IEnumerable<Admin.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainView.cshtml";
}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Clientes</h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> @Html.ActionLink("Início", "Index", "Home")</li>
            <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-footer">
                <button type="submit" value="Back" class="btn btn-default">@Html.ActionLink("Voltar", "Index", "Home")</button>
                <button type="submit" value="Create" class="btn btn-default pull-right">@Html.ActionLink("Cadastrar Cliente", "Create")</button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Nome)</th>
                            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
                            <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <th>@Html.DisplayName("Opções")</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                                <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                                <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
</section>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>
